.blockBook {
    width: 1440px;
    height: 620px;
    display: flex;
    margin-top: 100px;


}

.bookArticle {
    width: 715px;
    height: 479px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 55px;
    width: 715px;
    height: 479px;
    left: 100px;
    top: 1590px;
    background-color: white;
}

.bookImage {
    width: 605px;
    height: 620px;
    margin-left: 835px;
    position: absolute;

    display: block;
}

.h1Book {
    width: 711px;
    height: 108px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    text-transform: uppercase;
    margin-left: 100px;

    color: #151515;


}

.pBook {
    width: 711px;
    height: 205px;
    margin-left: 100px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #151515;
}

.buttonBook {
    font-family: 'Inter', sans-serif ;
    font-style: normal;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 321px;
    height: 56px;
    background: #2D8456;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 100px;
}

.blockGreen {
    position: relative;
    width: 596px;
    height: 872px;
    margin-left: 501px;
    margin-top: 340px;
    background: #2D8456;
    filter: blur(250px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;


    background: rgba(17, 17, 17, 0.7);
}

.popup {
    width: 1440px;
    height: 656px;
    background: #FFFFFF;
    position: relative;

}

.btnX {
    position: absolute;
    z-index: 2;
    height: 24px;
    width: 24px;
    left: 8.333251953125px;
    top: 8.3330078125px;
    padding: 10px;
    margin-left: 1300px;
    margin-top: 27px;
    background-image: url(../../assets/close.png);
    border: 0;


}

.modal {
    display: flex;
    justify-content: left;
    position: absolute;
}

.h2Info {
    position: relative;
    z-index: 2;
    width: 614px;
    height: 68px;
    margin-left: 100px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;

    color: #151515;
}


.callInfo div {
    position: relative;
    z-index: 2;
    width: 1072px;
    height: 41px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #151515;
    margin-bottom: 30px;
    margin-left: 110px;

}

.divCall {
    margin-top: 55px;
}

.modal {
    position: fixed;
    width: 200px;
    height: 655px;


}

.image {
    position: relative;
    width: 909;
    height: 655px;
    margin-left: 270px;
}

.modalImage {
    position: absolute;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    width: 909px;
    height: 655px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 530px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-left: 100px;
    margin-top: 57px;
    background: #2D8456;
    width: 330px;
    height: 61px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;


}