.articleComp {

    /* white-space: normal; */
    /* overflow: hidden; */
    /* padding: 5px; */
    /* text-overflow: ellipsis; */
    width: 1185px;
    height: 123px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;

    color: #151515;
}

.articlsNumber {
    width: 240px;
    height: 41px;

    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;


    color: #151515;
}

.articlsNumberH2 {
    width: 240px;
    height: 41px;
    margin-left: 80px;
    margin-top: 87px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #151515;

}

.btnXGlob {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 8.333251953125px;
    top: 8.3330078125px;
    padding: 10px;
    margin-left: 1138px;
    margin-top: 59px;
    background-image: url(../../assets/close.png);
    border: 0;


}

li {
    list-style-type: none;
}

.btnGlobal {
    position: absolute;
    width: 84px;
    height: 41px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    background: none;
    border: 0;
    color: #2D8456;
    cursor: pointer;

}

.fullArticle {
    width: 1042px;
    margin-left: 83px;
    margin-top: 39px;
    padding-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;

    color: #151515;

}

.popup2 {
    z-index: 1;
    width: 1238px;
    background: #FFFFFF;
    position: relative;
    text-align: start;
    padding-bottom: 100px;
}

.modal2 {
    display: inline-block;
}

.bg2 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(17, 17, 17, 0.7);
}


.parentBlock {
    width: 1238px;
    height: auto;
}