body {
    margin: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.firstPage {
    display: flex;
    gap: 20px;
    width: 1340px;
}

.lang {
    width: 99px;
    height: 35px;
    margin-top: 23px;
    border: solid 2px #2D8456;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}

.lang ul li a {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.lang ul li a:hover {
    width: 35px;
    padding: 5px;
    border-radius: 30px;
    background: #2D8456;
    color: #FFFFFF;
}

.fullName {
    width: 720px;
    margin-top: 36px;

}

.fullName h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
}

.fullName p {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}


.biographyList {
    width: 720px;
    margin-top: 30px;
}

.biographySymbol {
    display: flex;
    width: 570px;
    gap: 8px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #212121;
}

.reviewPage {
    width: 1440px;
    position: relative;
}

.review {
    width: 1440px;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    color: #151515;
}

.blurBackground {
    position: absolute;
    z-index: -1;
    width: 600px;
    height: 556px;
    top: 80px;
    right: 20px;
    background: #2D8456;
    filter: blur(200px);
}

.card {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 12px;
}

.reviewCard {
    width: 350px;
    height: 410px;
    border: solid 30px #494747;
    border-radius: 10px;
}